/* Portfolio Grid */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 20px;
  column-gap: 40px;
  row-gap: 40px;
  margin-left: 8vw;
  margin-right: 8vw;
  margin-bottom: 20px;
}

/* Portfolio card */
.portfolio-card {
  /* width: calc(100vw - 60px); */
  cursor: pointer;
  /* height: 300px; */
  height: auto;
}

/* .center-cropped {
  overflow: hidden;
  position: relative;

} */

.portfolio-card img {
  display: inline-block;
  vertical-align: top;
  height: auto;
  width: 100%;
  /* height: 100%; */
  border-radius: 10px;
  /* box-shadow: gainsboro; */
}

.text-box {
  display: inline-block;
  width: calc(100vw - 300px);
  margin-left: 20px;
  margin-top: 20px;
  height: 240px;
}

.port-active {
  height: 500px;
}

p {
  /* height: min(240px, auto); */
  max-height: 240px;
  overflow: hidden;
}

.project-data {
  margin-top: 3px;
}

.project-data h4 {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
}

.project-data h5 {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  color: white;
  background-color: #d3d3d3;
  border-radius: 4px;
  margin-left: 5px;
  padding: 3px;
  margin-bottom: 2px;
}

/* Overlay Effect */
.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
  color: black;
  border-radius: 10px;
  opacity: 90%;
}

.container {
  position: relative;
}

.container:hover .overlay {
  width: 100%;
}

.overlay h5 {
  color: black;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

/* Expanded Stuff */
#portfolio-expanded {
  display: none;
  position: fixed;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;
  background: #e8e6e6;
  color: black;
  z-index: 5;
  box-shadow: 0 0 5px grey;
}

#portfolio-expanded h1 {
  margin-top: 5px;
}

#portfolio-expanded p {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  font-size: max(1.5rem, 20px);
  height: 75%;
  max-height: none;
  overflow-y: auto;
}

.close-icon {
  font-size: 30px;
  cursor: pointer;
  padding-right: 20px;
  padding-top: 20px;
}

/* .expanded {
  height: auto;
  padding-bottom: 20px;
}

.expanded p {
  height: auto;
  max-height: none;
}

.expanded img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.expanded .text-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  padding-bottom: 20px;
} */

/* p {
    display: inline;
    position: relative;
    margin-left: 20px;
} */
